{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Which Redditor to simulate? {% endblock %}</h1>
Simulate how Redditors would respond to a Submission or Comment!

<hr>
<h2>New</h2>
Submit request to train a new model on a Redditor.
<form method="post">
    <div class="form-group">
        <input type="text" name="requestedusername" placeholder="Redditor" class="form-control"
               value="{{ request.form['requestedusername'] }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<hr>
<h2>Trained</h2>
Select a Redditor with a trained model.
<br>
{% for username in users %}
    <a href="{{ url_for('infer', username=username) }}"><h3>{{ username }}</h3></a>
{% endfor %}

{% endblock %}