{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} {{ userinference['username'] }} {% endblock %}</h1>
<a href="{{ url_for('refresh', username=userinference['username']) }}">Refresh?</a>
<a href="https://reddit-user-analyser.netlify.app/#{{ userinference['username'] }}">User stats.</a>
<hr>

Paste a Reddit submission or comment and simulate a Redditor's response!
<br>
<form method="post">
    <div class="form-group">
        <input type="text" name="url" placeholder="{{ userinference['defaulturl'] }}" class="form-control"
               value="{{ userinference['url'] or request.form['url'] }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
Model Prompt:
<br>
<pre>{{ userinference['prompt'] }}</pre>
Model Output:
<br>
<pre>{{ userinference['response'] }}</pre>
{% endblock %}
