{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} {{ userinference['username'] }} {% endblock %}</h1>
Model last updated on {{ userinference['usrlasttrained'] }}.
<a href="{{ url_for('refresh', username=userinference['username']) }}">Refresh?</a>
<hr>

Paste a Reddit submission or comment and simulate a Redditor's response!
<br>
<form method="post">
    <div class="form-group">
        <input type="text" name="url" placeholder="{{ userinference['defaulturl'] }}" class="form-control"
               value="{{ userinference['url'] or request.form['url'] }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<br>
<div class="form-group">
    <label>Model Input</label>
    <textarea name="prompt" placeholder="..." rows="10" class="form-control">{{ userinference['prompt'] }}</textarea>
    <br>
    <label>Model Output</label>
    <textarea name="response" placeholder="..." rows="5" class="form-control">{{ userinference['response'] }}</textarea>
</div>
{% endblock %}
