{% extends 'base.html' %}

{% block content %}
<h1>{{ userrefresh['username'] }}</h1>
<hr>

<!--TODO: show some progress or something?-->

<form method="post">

    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="refreshData">
        <label class="form-check-label" for="refreshData"> Data (last updated on {{ userrefresh['datalastupdated'] }})</label>
    </div>

    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="refreshModel">
        <label class="form-check-label" for="refreshModel"> Model (last updated on {{ userrefresh['modellastupdated'] }})</label>
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
<hr>
{% endblock %}